html {
  margin-top: -44px; }

.movie {
  width: 414px;
  height: auto;
  text-align: center;
  background-color: #ff6200;
  margin-top: 44px; }
  .movie .img_container {
    width: 326px;
    height: 483px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0 var(--black-50);
    background-color: #ffffff;
    margin: auto;
    position: relative;
    top: 44px;
    z-index: 1; }
    .movie .img_container .img_poster {
      width: 326px;
      height: 483px;
      border-radius: 8px;
      position: relative;
      z-index: 4; }
  .movie .gradient {
    width: 414px;
    height: 100px;
    background-image: linear-gradient(#ff6000, #ffffff);
    position: absolute;
    top: 296px;
    left: -44px;
    z-index: 2; }
  .movie .gradient_white {
    width: 414px;
    height: 152px;
    background-color: #ffffff;
    position: absolute;
    top: 395px;
    left: -44px;
    z-index: 2; }
  .movie .bg_content {
    width: 414px;
    height: auto;
    background-color: #ffffff;
    z-index: 9; }
    .movie .bg_content .name_movie {
      width: auto;
      height: auto;
      font-family: Roboto;
      font-size: 55px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: auto auto;
      margin-top: 107px; }
    .movie .bg_content .info_movie {
      width: 269px;
      height: 15px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #5d5d5d;
      margin: 15px 73px 24px 72px; }
    .movie .bg_content .rating {
      width: 71px;
      height: auto;
      font-family: Roboto;
      font-size: 34px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: auto auto; }
      .movie .bg_content .rating .text-style-1 {
        font-size: 21px;
        font-weight: normal;
        color: #5d5d5d; }
    .movie .bg_content .bg_button {
      width: 326px;
      height: 64px;
      border-radius: 8px;
      box-shadow: 0px 4px 12px 0 rgba(255, 96, 0, 0.5);
      background-color: #ff6000;
      margin: 0px 44px 44px 44px;
      cursor: pointer; }
    .movie .bg_content .text_button {
      width: auto;
      height: auto;
      font-family: Roboto;
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.1px;
      text-align: center;
      color: #ffffff; }

.movie_clicked {
  width: 414px;
  height: auto;
  text-align: left;
  background-color: #ff6200;
  margin-top: 44px; }
  .movie_clicked .img_container {
    width: 180px;
    height: 266px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0 var(--black-50);
    background-color: #ff6200;
    margin-left: 24px;
    position: relative;
    top: 44px;
    z-index: 1; }
    .movie_clicked .img_container .img_poster {
      width: 180px;
      height: 266px;
      border-radius: 8px;
      box-shadow: 0px 4px 12px 0 var(--black-50);
      background-color: #ffffff;
      position: relative;
      z-index: 4; }
  .movie_clicked .gradient {
    width: 414px;
    height: 100px;
    background-image: linear-gradient(#ff6000, #ffffff);
    position: absolute;
    top: 132px;
    float: left;
    left: -24px;
    z-index: 0; }
  .movie_clicked .gradient_white {
    width: 414px;
    height: 92px;
    background-color: #ffffff;
    position: absolute;
    top: 232px;
    float: left;
    left: -24px;
    z-index: 0; }
  .movie_clicked .bg_content {
    width: 414px;
    height: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 0 !important;
    top: 52px; }
    .movie_clicked .bg_content .name_movie {
      width: 83px;
      height: auto;
      font-family: Roboto;
      font-size: 34px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin-left: 25px;
      margin-right: 18px;
      margin-top: 48px;
      background-color: #ffffff;
      z-index: 1 !important; }
    .movie_clicked .bg_content .info_movie {
      width: 270px;
      height: 15px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #5d5d5d;
      margin-left: 24px;
      margin-top: 15px; }
    .movie_clicked .bg_content .rating {
      width: 36px;
      height: auto;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ff6000;
      display: inline-block;
      border: solid 1px #ff6000;
      border-radius: 4px;
      padding: 1px;
      position: absolute;
      left: 119px;
      top: 2px; }
      .movie_clicked .bg_content .rating .text-style-1 {
        font-size: 21px;
        font-weight: normal;
        color: #5d5d5d;
        display: inline;
        display: none; }
    .movie_clicked .bg_content .content_movie .content_movie_storyline {
      width: 365px;
      height: auto;
      font-family: PTSerif;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin: 28px 25px 36px 24px; }
    .movie_clicked .bg_content .content_movie .content_movie_shapeline {
      width: 366px;
      height: 1px;
      background-color: #a3a3a3;
      margin-top: 36px;
      margin-bottom: 39px; }
    .movie_clicked .bg_content .content_movie .content_movie_summary {
      vertical-align: middle; }
      .movie_clicked .bg_content .content_movie .content_movie_summary .content_movie_summary_definition {
        height: auto;
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: #ff6000;
        margin-left: 25px;
        margin-right: 8px; }
        .movie_clicked .bg_content .content_movie .content_movie_summary .content_movie_summary_definition .content_movie_summary_header {
          width: 4px;
          height: 16px;
          font-family: Roboto;
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.75;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          margin-left: 0px; }
        .movie_clicked .bg_content .content_movie .content_movie_summary .content_movie_summary_definition span {
          color: black; }
    .movie_clicked .bg_content .bg_button {
      width: 326px;
      height: 64px;
      border-radius: 8px;
      box-shadow: 0px 4px 12px 0 rgba(255, 96, 0, 0.5);
      background-color: #ff6000;
      margin: 45px 44px 44px 44px;
      cursor: pointer; }
    .movie_clicked .bg_content .text_button {
      width: auto;
      height: auto;
      font-family: Roboto;
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.1px;
      text-align: center;
      color: #ffffff; }

